.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}
.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

/*eyecandy --------------------------------------------------*/


#greeting{
	font: italic 1.7em "Helvetica Sans", serif;
	color: #535353;
  animation-name: fadein;
  animation-duration: 2s;
}

#image{
	justify: center;
}

#srcimg{
  animation-name: fadein;
  animation-duration: 2s;
}

#srcimg:hover{
  opacity: 0.8;
}

@keyframes fadein{
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes colchange{
  0% {background-color: #B294BB;}
	50% {background-color: #81A2BE;}
  100% {background-color: #B294BB;}
}

hr {
  display: block;
  margin-top: 0px;
  margin-bottom: 2px;
  margin-left: 0;
  margin-right: 0;
  border-style: inset;
  border-width: 1px;
}

#txt-ln{

	text-align: left;
	text-decoration: none;
	color: #81A2BE;
}

#ls-txt{
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-type: square;
	text-align: left;
	color: #535353;
}

#small-txt-ln{
	text-decoration: none;
	color: #81A2BE;
}

p{
	margin-top: 10px;
	margin-bottom: 20px;
	color: #535353;
	text-align: justify;
}

#h1-txt{
	text-decoration: none;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #535353;
	font: italic 1.7em "Helvetica Sans", serif;
}
