html{
	background-image: url(./media/dot-grid.png);
	background-repeat: repeat;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
	text-align: center;
}

#wrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px,auto);
  grid-template-areas:
	"tp tp tp tp tp"
	".  im im im . "
	".  .  bu . . "
	".  gr  gr gr . "
	"bt bt bt bt bt";
  grid-gap: 10px;
  align-content: center;
}

#top{
  grid-area: tp;
  display: block;
}

#bottom{
  grid-area: bt;
}

#greeting{
  grid-area: gr;
  font: italic bold 2em "Fira Sans", serif;
	color: #535353;
  animation-name: fadein;
  animation-duration: 2s;
}

#image{
  grid-area: im;
}

#srcimg{
  animation-name: fadein;
  animation-duration: 2s;
}

#srcimg:hover{
  opacity: 0.8;
}

#buttons{
  grid-area: bu;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  animation-name: fadein;
  animation-duration: 2s;
	justify-items: center;
	align-items: center;
}

@keyframes fadein{
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes colchange{
  0% {background-color: #B294BB;}
	50% {background-color: #81A2BE;}
  100% {background-color: #B294BB;}
}


a:link.icon {
  border: None;
  line-height: 50px;
  width: 50px;
  border-radius: 50%;
  text-decoration: none;
  background-color: #81A2BE;
  font-size: 1em;
  animation-name: colchange;
  animation-duration: 4s;
	animation-iteration-count: infinite;
	display: block;
	text-align: center;
}

.icon:hover{
  opacity: 0.8;
}
